.caja {
  margin: 1rem 2rem;
  padding: 2rem 3rem;
  display: inline-block;
  background-color: rgb(226, 221, 214);
  border-radius: 3rem;
  height: 20rem;
  width: 20rem;
}


.div {
  display: flex;
  flex-direction: column-reverse;
}

.img {
  height: 5rem;
  width: 5rem;
}

.closeButon {
  background-color: red;
  color: aliceblue;
  height: 3rem;
  width: 3.4rem;
  border: 1rem;
  border-radius: 2rem;
}

.closeButon:hover {
  animation-delay: 1000ms;
  color: tomato;
  background-color: white;
  
}


